body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img.photo_img {
  margin-left: 22rem;
}
.heading-text {
  text-align: center;
  font-size: 17px;
  color: black;
}
p.url {
  text-decoration: underline;
}
button.carousel-btn.btn.btn-primary {
  margin-left: 42rem;
}

.view-btn{
  margin-top:21px;
}